html, body {
    margin: 0;
}

canvas {
    box-sizing: border-box;
}

#attributes {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    right: 0;
    background: rgb(28, 45, 45);
    width: 250px;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    padding: 3px;
    border: 1px solid white;

}

